node_modules/
.git/
Dockerfile*
.dockerignore
*.log*
.env*
coverage/
packages/*/coverage/
dist/
packages/*/dist/
build/
packages/*/build/
packages/*/.runtime-deps/
packages/*/release/
packages/*/release-next/
.integration-tests/
.idea/
.vscode/
.DS_Store
*.tmp
*.swp
